In [81]:
import numpy as np
import pandas as pd
df = pd.read_csv('customer.csv')
df.sample(5)

    age  gender   review education purchased
29   83  Female  Average        UG       Yes
44   77  Female  Average        UG        No
40   39    Male     Good    School        No
49   25  Female     Good        UG        No
8    65  Female  Average        UG        No

In [82]:
df = df.iloc[:,2:]
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [83]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.iloc[:,0:2],df.iloc[:,-1],test_size = 0.2)

In [84]:
from sklearn.preprocessing import OrdinalEncoder

In [98]:
df.head(15)

     review education purchased
0   Average    School        No
1      Poor        UG        No
2      Good        PG        No
3      Good        PG        No
4   Average        UG        No
5   Average    School       Yes
6      Good    School        No
7      Poor    School       Yes
8   Average        UG        No
9      Good        UG       Yes
10     Good        UG       Yes
11     Good        UG       Yes
12     Poor    School        No
13  Average    School        No
14     Poor        PG       Yes

In [85]:
X_train

     review education
48     Good        UG
37  Average        PG
30  Average        UG
42     Good        PG
38     Good    School
9      Good        UG
8   Average        UG
4   Average        UG
23     Good    School
20  Average    School
1      Poor        UG
6      Good    School
36     Good        UG
35     Poor    School
27     Poor        PG
21  Average        PG
5   Average    School
49     Good        UG
25     Good    School
43     Poor        PG
33     Good        PG
26     Poor        PG
47     Good        PG
10     Good        UG
17     Poor        UG
39     Poor        PG
7      Poor    School
32  Average        UG
40     Good    School
16     Poor        UG
46     Poor        PG
44  Average        UG
15     Poor        UG
29  Average        UG
28     Poor    School
0   Average    School
18     Good    School
34  Average    School
2      Good        PG
45     Poor        PG

In [86]:
oe = OrdinalEncoder(categories=[['Poor' ,'Average','Good'] , ['School','UG','PG']],handle_unknown='use_encoded_value', unknown_value=-1)

In [87]:
oe.fit(X_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']],
               handle_unknown='use_encoded_value', unknown_value=-1)

In [89]:
X_train = oe.transform(X_train)
X_test = oe.transform(X_test)

C:\Users\HP\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [90]:
 X_train

array([[2., 1.],
       [1., 2.],
       [1., 1.],
       [2., 2.],
       [2., 0.],
       [2., 1.],
       [1., 1.],
       [1., 1.],
       [2., 0.],
       [1., 0.],
       [0., 1.],
       [2., 0.],
       [2., 1.],
       [0., 0.],
       [0., 2.],
       [1., 2.],
       [1., 0.],
       [2., 1.],
       [2., 0.],
       [0., 2.],
       [2., 2.],
       [0., 2.],
       [2., 2.],
       [2., 1.],
       [0., 1.],
       [0., 2.],
       [0., 0.],
       [1., 1.],
       [2., 0.],
       [0., 1.],
       [0., 2.],
       [1., 1.],
       [0., 1.],
       [1., 1.],
       [0., 0.],
       [1., 0.],
       [2., 0.],
       [1., 0.],
       [2., 2.],
       [0., 2.]])

In [91]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

In [92]:
from sklearn.preprocessing import LabelEncoder

In [93]:
le = LabelEncoder()

In [94]:
le.fit(y_train)

LabelEncoder()

In [95]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [96]:
y_train = le.transform(y_train)
y_test = le.transform(y_test)

In [97]:
y_train

array([1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0,
       1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1])